.chessmanBox{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50% 50%;
    border: 2px rgba(0, 0, 0, 0.53) groove;
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.6)
}
.content {
    font-size: 30px;
    font-family: STKaiti;
}
.bg {
    background: rgb(252, 214, 148);
    height:50px;
    border-radius: 50% 50%;
    text-align: center;
    line-height: 50px;
}
.bg-blur {
    float: left;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}
.content-front {
  position:absolute;
  height:50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
