.gameStartBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: left;
    height: 100%;
    width: 100%;
}

.checkerboard{
    height: 551px;
    width: 551px;
    display: flex;
}

.checkerboardImg{
    box-shadow: 0 0 100px white;
}
