.gameStartBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: left;
    height: 100%;
    width: 100%;
}
.gameStartBoardTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
}
.homeButton{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline:none;
}
.undoButton{
    width: 60px;
    height: 40px;
    background-color: wheat;
    border: 0;
    outline:none;
    box-shadow: 5px 5px 5px black;
}
.chessmanBox{
    height: 60px;
    width: 60px;
    border-radius: 50% 50%;
    border: 2px rgba(0, 0, 0, 0.53) groove;
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.6)
}
.contentred {
    color: rgb(80, 3, 3);
    font-size: 30px;
    text-shadow: 0 0 2px rgb(145, 2, 2);
}
.contentblack {
    color: black;
    font-size: 40px;
}