.gameStartBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    float: left;
    height: 100%;
    width: 100%;
}
.gameStartBoardTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
}
.homeButton{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline:none;
}
.undoButton{
    width: 60px;
    height: 40px;
    font-size: 20px;
    background-color: rgba(245, 222, 179, 0);
    border: 0;
    outline:none;
    
}
.undoButton:hover{
    box-shadow: 5px 5px 5px black;
    background-color: rgba(245, 222, 179, 0.5);
}
